params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    fasta = "${projectDir}/assets/dummy_file.txt"
}

process {

    withName: 'INV_SET_GT_BCFTOOLS' {
        ext.prefix  = { "${meta.id}.adjusted_gt" }
    }
    withName: 'ADJUST_DELETION_CONSENSUS' {
        ext.prefix  = { "${meta.id}.adjusted_deletion" }
    }

}
