/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    read_qc                  = 'fastp,fastqc'
    taxonomic_classifier     = 'kraken2'
    reference_selection      = 'dynamic'
    aligner                  = 'bwa'
    variant_caller           = 'lofreq'
    consensus_caller         = 'bcftools'

    skip_taxonomic_filtering = false
    skip_primer_clipping     = true

    kraken2_taxid_filter_list = '11308,11320,11520'

    cns_mincov = 50 //minimum number of reads to call reference or alternate alleles
}

process {

    withName: FASTP {
        ext.args = '--low_complexity_filter --overrepresentation_analysis --qualified_quality_phred 20 --length_required 50'
    }

    withName: BCFTOOLS_FILTER {
        ext.args = '-e "TYPE=\'indel\' && INFO/AF < 0.9" --output-type z'
    }

    withName: BCFTOOLS_CONSENSUS {
        ext.args = '-H I -i "INFO/AF >= 0.1"'
    }

}
