/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {

    read_qc                  = 'fastp,fastqc'
    taxonomic_classifier     = 'kraken2'
    reference_selection      = 'static'
    reference_processing     = 'inv_prep_ref,samtools_faidx'
    aligner                  = 'bwa,picard_remove_duplicates'
    variant_caller           = 'lofreq'
    consensus_caller         = 'bcftools'

    skip_taxonomic_filtering  = false
    skip_primer_clipping      = true
    skip_read_qc              = false

    taxonomic_classifier      = 'kraken2'
    kraken2_taxid_filter_list = '11308 11320 11520'

    consensus_mincov          = 50

}

process {

    withName: 'FASTP' {
        ext.args = '--low_complexity_filter --overrepresentation_analysis --qualified_quality_phred 20 --length_required 50'
    }

    withName: 'LOFREQ_CALLPARALLEL' {
        ext.args = '--call-indels'
    }

    withName: 'LOFREQ_CALLPARALLEL_SPEC_CASE' {
        ext.args = '--no-default-filter -A -B -a 1 -b 1 --verbose --call-indels'
    }

    withName: 'LOFREQ_FILTER' {
        ext.args = "--snvqual-alpha 0.001 --snvqual-mtc 'fdr' --print-all"
        ext.prefix  = { "${meta.id}.filtered" }
    }

    withName: 'BWA_MEM' {
        ext.args = '-L 10 -Y -R "@RG\\tID:SAMPLE_NAME\\tPU:SAMPLE_NAME\\tSM:SAMPLE_NAME\\tPL:ILLUMINA\\tLB:000"'
    }

    withName: 'PICARD_MARKDUPLICATES' {
        ext.args = '-REMOVE_DUPLICATES true'
        ext.prefix = { "${meta.id}.markduplicates.sorted" }
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--use-names'
    }

    withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
        ext.args = '--include-parents --fastq-output'
    }

    withName: 'BCFTOOLS_FILTER' {
        ext.args = '-e "TYPE=\'indel\' && INFO/AF < 0.9" --output-type z'
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'BCFTOOLS_CONSENSUS' {
        ext.args = "-H I -i \"INFO/AF >= 0.1\""
    }

    withName: 'LOFREQ_INDELQUAL' {
        ext.args    = '--dindel'
        ext.prefix  = { "${meta.id}.indelqual" }
    }

    withName: 'BCFTOOLS_INDEX' {
        ext.args    = '--tbi'
    }

    withName: 'BCFTOOLS_NORM' {
        ext.args    = '-Oz -c s  --write-index=tbi'
        ext.prefix  = { "${meta.id}.normed" }
    }

    withName: 'KMA_INDEX' {
        ext.args = '-Sparse'
    }

    withName: 'KMA' {
        ext.args = '-1t1 -t 2 -mrs 0.9 -mem_mode -mq 50 -and -Sparse'
    }

    withName: 'SEQKIT_GREP' {
        ext.args = '-n'
        ext.prefix  = { "${meta.id}.topRef" }
    }

    withName: 'INV_GET_DELETIONS_PYVCF' {
        ext.prefix  = { "${meta.id}.adjusted_deletion" }
    }

    withName: 'INV_PREPARE_REFERENCE' {
        ext.prefix  = { "${meta.id}.prepared" }
    }

    withName: 'INV_SET_GT_BCFTOOLS' {
        ext.prefix  = { "${meta.id}.adjusted_gt" }
    }

    withName: 'LOFREQ_VITERBI' {
        ext.prefix  = { "${meta.id}.viterbi" }
    }

}
