/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nf-test test \
            <omnifluss_root>/main.nf \
            -profile INV_test_default,<docker/singularity> \
            --tag ena_full \
            <omnifluss_root>/tests

----------------------------------------------------------------------------------------
*/

includeConfig 'pathogens/INV_illumina.config'

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'FASTQC' {
        cpus = 4
    }

    withName: 'FASTP' {
        ext.args = '--dup_calc_accuracy 4 --low_complexity_filter --overrepresentation_analysis --qualified_quality_phred 20 --length_required 50'
        cpus = 4
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Default test configuration to check pipeline function with test data from ENA and resource constraints by Github CI'
}
