/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PREPARE_REFERENCE' {
        publishDir = [
            path: { "${params.outdir}/prep_reference/" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: 'KRAKEN2_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/kraken/classification" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/bcftools/filter" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
        publishDir = [
            path: { "${params.outdir}/kraken/krakentools" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ADJUST_DELETION_CONSENSUS' {
        publishDir = [
            path: { "${params.outdir}/pyvcf/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BWA_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bwa/index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CREATE_MASK_CONSENSUS' {
        publishDir = [
            path: { "${params.outdir}/bedtools/local/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BWA_MEM' {
        publishDir = [
            path: { "${params.outdir}/bwa/mem" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ADJUST_GT_CONSENSUS' {
        publishDir = [
            path: { "${params.outdir}/bcftools/local/" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/sort" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/tabix/" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: 'BCFTOOLS_CONSENSUS' {
        publishDir = [
            path: { "${params.outdir}/bcftools/consensus/" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: 'SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/idxstats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/flagstat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/picard/markduplicates" },
            mode: params.publish_dir_mode
        ]
    }
}
