/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths

    Note: Directives defined here, will NOT be overritten by pathogen-specific configs!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PREPARE_REFERENCE' {
        publishDir = [
            path: { "${params.outdir}/prep_reference/" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/kraken/classification" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/bcftools/filter" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }
    withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
        publishDir = [
            path: { "${params.outdir}/kraken/krakentools" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'INV_GET_DELETIONS_PYVCF' {
        publishDir = [
            path: { "${params.outdir}/pyvcf/" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'BWA_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bwa/index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('bwa') ? "${meta.id}_bwa_index" : null },
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'INV_CREATE_CONSENSUS_MASK_BEDTOOLS' {
        publishDir = [
            path: { "${params.outdir}/bedtools/local/" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'BWA_MEM' {
        publishDir = [
            path: { "${params.outdir}/bwa/mem" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'INV_SET_GT_BCFTOOLS' {
        publishDir = [
            path: { "${params.outdir}/bcftools/local/" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/sort" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/tabix/" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'BCFTOOLS_CONSENSUS' {
        publishDir = [
            path: { "${params.outdir}/bcftools/consensus/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/samtools/index" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/stats" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/idxstats" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/flagstat" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.outdir}/samtools/faidx" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/picard/markduplicates" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'BEDTOOLS_GENOMECOV' {
        publishDir = [
            path: { "${params.outdir}/bedtools/genomecov" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SAMTOOLS_COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/samtools/coverage" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }
    
    withName: 'INV_REPORT_RMARKDOWN' {
        publishDir = [
            path: { "${params.outdir}/report/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'INV_PREPARE_REFERENCE' {
        publishDir = [
            path: { "${params.outdir}/prepare_reference" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'INV_GET_TOP1_REFERENCE_AWK' {
        publishDir = [
            path: { "${params.outdir}/get_top1_reference" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'INV_RESCUE_VARIANTS_PYTHON' {
        publishDir = [
            path: { "${params.outdir}/rescue_variants" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    //vcf file used for consensus calling
    withName: 'BCFTOOLS_NORM' {
        publishDir = [
            path: { "${params.outdir}/bcftools/norm" },
            mode: params.publish_dir_mode
        ]
    }

    //bam file used for consensus calling
    withName: 'LOFREQ_INDELQUAL' {
        publishDir = [
            path: { "${params.outdir}/lofreq/indelqual" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BCFTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bcftools/index" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'CAT_CAT' {
        publishDir = [
            path: { "${params.outdir}/cat" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'KMA' {
        publishDir = [
            path: { "${params.outdir}/kma" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'LOFREQ_CALLPARALLEL' {
        publishDir = [
            path: { "${params.outdir}/lofreq/callparallel" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'LOFREQ_VITERBI' {
        publishDir = [
            path: { "${params.outdir}/lofreq/viterbi" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'LOFREQ_FILTER' {
        publishDir = [
            path: { "${params.outdir}/lofreq/filter" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SEQKIT_REPLACE' {
        publishDir = [
            path: { "${params.outdir}/seqkit/replace" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }

    withName: 'SEQKIT_GREP' {
        publishDir = [
            path: { "${params.outdir}/seqkit/grep" },
            mode: params.publish_dir_mode,
            enabled: !params.no_intermediate_files
        ]
    }
}
