/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    rki-mf1/igsmp pathogen specific profiles.

~~~ NB:
    includeConfig "pathogens/${params.pathogen}.config"

    breaks `nf-core schema build` and `nf-core lint`, more specific it breaks
    `nextflow config -flat`.
----------------------------------------------------------------------------------------
*/

profiles {
    CVD_illumina {
        includeConfig "pathogens/CVD_illumina.config"
    }
    INV_illumina {
        includeConfig "pathogens/INV_illumina.config"
    }
}
