params {
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
    mamba {
        conda.enabled  = true
        conda.useMamba = true
    }
    podman {
        podman.enabled = true
        podman.registry = 'quay.io'
        podman.userEmulation = true
        podman.runOptions = "--runtime crun --platform linux/x86_64 --systemd=always"
    }
    docker {
        docker.enabled = true
        docker.registry = 'quay.io'
        docker.userEmulation = true
        docker.runOptions = "--platform linux/x86_64"
    }
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

manifest {
    nextflowVersion = '!>=22.10.1'
}
